<app-my-header name="Лабораторна робота №5"></app-my-header>
<ion-content fullscreen="true">
    <ion-card>
        <ion-card-header>
            <h3>Завдання</h3>
            <p>
                Провести табулювання, обрахувати за допомогою циклу та рекурсії наступну 
                функцію:
            </p>
            <div class="img_formula"></div>
        </ion-card-header>
        
        <ion-card-content>
            <ion-item>
                <ion-input label="Xn" labelPlacement="stacked" type="number" #inputXn value="-0.99">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Xk" labelPlacement="stacked" type="number" #inputXk value="0.99">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="h" labelPlacement="stacked" type="number" #inputH value="0.5">
                </ion-input>
            </ion-item>

            <ion-button (click)="ras(inputXn.value,inputXk.value,inputH.value)">Розрахунок</ion-button>

            <ion-card>
                <ion-card-title>
                    <h1>Результати розрахунку</h1>
                </ion-card-title>
                <ion-card-content>
                    <ion-list>
                    <ion-item *ngFor="let item of xyInput ; index as i">
                        <ion-label>
                        <h5>{{xx[i]}}</h5>
                        <h5>{{item}}</h5>
                        </ion-label>
                    </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-card-content>
        
    </ion-card>

    <canvas #lineCanvas></canvas>
</ion-content>