.matrix-cell {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ffffff;
  font-weight: bold;
}


.results-cell {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #7b96e8;
  color: black;
}
  